<footer class="site-footer">

  <div class="footer-container">

    <!-- ABOUT -->
    <div class="footer-col">
      <h4>ABOUT US</h4>

      <p>
        Famous for its diverse range of delicious coffee, Py-Script : The Tech Cafe
        is one of the most talked about cafés in Ahmedabad, India with our
        lip-smacking collection of hot & cold beverages paired with our
        snacks and desserts now attracting hundreds of coffee-lovers to our hub.
      </p>
    </div>

    <!-- QUICK LINKS -->
    <div class="footer-col">
      <h4>QUICK LINK</h4>

      <ul>
        <li><a href="{{ url_for('shop.about') }}">About</a></li>
        <li><a href="{{ url_for('shop.menu') }}">Menu</a></li>
        <li><a href="{{ url_for('shop.franchises') }}">Franchise</a></li>
        <li><a href="{{ url_for('shop.contactus') }}">Contact Us</a></li>
        <li><a href="{{ url_for('shop.feedback') }}">Feedback</a></li>
      </ul>
    </div>

    <!-- REACH US -->
    <div class="footer-col">
      <h4>REACH US</h4>

      <p>
        📍 1-2, Devangan Flats,<br>
        H.L. Commerce College Road,<br>
        Navrangpura, Ahmedabad – 380009,<br>
        Gujarat, India
      </p>

      <p>
        ✉
        <a href="mailto:pyscript@gmail.com">
          pyscript@gmail.com
        </a>
      </p>

      <p>
        📞 <a href="tel:+918401012333">+91 84010 12333</a>
      </p>

      <p><strong>For Business Purpose only:</strong></p>

      <p>
        📞 <a href="tel:+918155889955">+91 81558 89955</a>
      </p>

      <div class="footer-social">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
      </div>

    </div>

  </div>

  <div class="footer-bottom">
    © 2022 Py-Script The Tech Cafe. All rights reserved.
  </div>

</footer>